# Ignore all files
*
# Allow directories
!*/
# Allow .gitignore itself
!.gitignore
# Allow rust files
!**/*.rs
# Allow Cargo.toml
!**/Cargo.toml
!Cargo.lock
# Ignore target directory
target/
# Allow Justfile
!justfile
!**/data/*input.txt
!**/data/aoc.md
!rust.tmpl
!readme.tmpl


!.github/workflows/*