[package]
name = "common"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
rayon = { workspace = true }
num-traits = { workspace = true }
num-iter = { workspace = true }
thiserror = { workspace = true }
