
fn parse(input: &str) -> i32 {
    todo!("Implement parse")
}

#[inline]
pub fn part1(input: &str) -> i32 {
    todo!("Implement part1")
}

#[inline]
pub fn part2(input: &str) -> i32 {
    todo!("Implement part2")
}


common::aoc_test!(1234, 1234, 1234, 1234);